<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-body">
  <form id="stationary_required"  method="post" onsubmit="stationary_required(this);">
  <input type="hidden" name="travel_emp_id">
  <div id="education_fields">
          
        </div>

       <div class="col-sm-5 nopadding">
  <div class="form-group">
    <input type="text" class="form-control" id="Item" name="Item"  placeholder="Enter Item" required>
  </div>
</div>
<div class="col-sm-5 nopadding">
  <div class="form-group">
  <div class="input-group">
  <input type="number" class="form-control" id="quantity_required" name="quantity_required"  placeholder="Enter quantity_required" required>
    </div>
  </div>
</div>
<div class="col-sm-2 nopadding">
  <div class="form-group">
    <div class="input-group-btn">
        <button id="test_submit" class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
      </div>
  </div>
</div>


<div class="clear"></div>
<div class="panel-footer"><small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>, <small>Press <span class="glyphicon glyphicon-minus gs"></span> to remove form field :)</small></div>
  <div class="col-sm-12 nopadding">
  <div class="form-group">
    <div class="input-group-btn">
        <input class="btn btn-success" id="travel_claim_submit_button" type="submit" name="travel_claim_submit_button" value="Submit" /> 
      </div>
  </div>
</div>
</form>
  
  </div>
  
</div>
</body>
<script type="text/javascript">
function travel_claim_form(form){
  var new_action = /*'http://localhost:3000/Reimbursements'*/ 'http://'+location.hostname + ':3000/travel_claim';
     //$('#travel_claim_form').attr('action', new_action);
     form.action = new_action;
     this.submit(function(){
     });

}
   

</script>
<script type="text/javascript">
	var room = 1;
function education_fields() {
 
    room++;
    var objTo = document.getElementById('education_fields')
    var divtest = document.createElement("div");
	divtest.setAttribute("class", "form-group removeclass"+room);
	var rdiv = 'removeclass'+room;
    divtest.innerHTML = 
    '<div class="col-sm-5 nopadding">'+
  '<div class="form-group">'+
    '<input type="text" class="form-control" id="Item" name="Item" value="" placeholder="Enter Item" required>'+
  '</div>'+
'</div>'+

    '<div class="col-sm-5 nopadding">'+
  '<div class="form-group">'+
    '<div class="input-group">'+
      '<input type="text" class="form-control" id="quantity_required" name="quantity_required" value="" placeholder="Enter quantity_required" required> '+
      
      
    '</div>'+
  '</div>'+
'</div>'+
'<div class="col-sm-2 nopadding">'+
  '<div class="form-group">'+
    '<div class="input-group-btn">'+
        '<button class="btn btn-success" type="button"  onclick="remove_education_fields('+ room +');">'+
        '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>';
    

    
    objTo.appendChild(divtest);
    $('#quantity_required'+room+'').append($('#quantity_required').html());
    $('#Item'+room+'').append($('#Item').html());
}
   function remove_education_fields(rid) {
	   $('.removeclass'+rid).remove();
     
   }

</script>
</html>

