<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function () {
            var options = {
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse  // post-submit callback
            };

            // bind to the form's submit event
            $('#frmUploader').submit(function () {
                $(this).ajaxSubmit(options);
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
            alert('Uploading is starting.');
            return true;
        }

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
        }
  </script>
  
</head>
<body>

<div class="container">
<div class="text-center">
  <h2 style="margin:30px 30px 30px 30px;">Employee Page</h2>
</div>
<form class="form-horizontal" id="frmUploader">
  <div class="form-group">
    <label class="control-label col-sm-1"  for="usr">Name:</label>
    <div class="col-sm-11">
      <input type="text" class="form-control" id="usr" placeholder="Enter Name">
     </div>
     </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="Emp_Type">Emp_Type:</label>
    <div class="col-sm-5">
    <select id="Emp_Type" name="Emp_Type" class="form-control">
      <option value="-1">Select</option>
      <option value="1">Regular</option>
      <option value="2">FT</option>
      <option value="3">UPL</option>
    </select>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-1 " for="grd">Grade:</label>
    <div class="col-sm-5">
    <select id="grd" name="grade" class="form-control">
      <option value="-1">Select</option>
      <option value="1">E1</option>
      <option value="2">E2</option>
      <option value="3">E3</option>
    </select>
  </div>
  </div>
  <table  class="table" id ="reimbursement_declare">
    <thead>
      <tr>
        <th></th>
        <th>Reimbursement_Type1</th>
        <th>Reimbursement_Type2</th>
        <th>Reimbursement_Type3</th>
      </tr>  
    </thead>
    <tbody>
      <tr>
        <td><label class="control-label" for="grd">Amount:</label></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type1"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type2"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type3"></td>
      </tr>
      <tr>
        <td><label class="control-label" for="grd">Frequency:</label></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type1"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type2"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type3"></td>
      </tr>
      <tr>
        <td><label class="control-label" for="grd">Claimed Amount:</label></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type1"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type2"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type3"></td>
      </tr>
      <tr>
        <td><label class="control-label" for="grd">Remaining Amount:</label></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type1"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type2"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type3"></td>
      </tr>
      <tr>
        <td><label class="control-label" for="grd">New Claim:</label></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type1"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type2"></td>
        <td><input type="text" class="form-control" id="type" placeholder="Type3"></td>
      </tr>
      <tr>
        <td><label class="control-label" for="grd" id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">Bill Upload:</label></td>
        <td><input type="file" name="imgUploader" multiple />
        <input style="margin:10px 10px 10px 10px;" type="submit" name="submit" id="btnSubmit" value="Upload" />
        </td>
        <td><input type="file" name="imgUploader" multiple />
        <input style="margin:10px 10px 10px 10px;" type="submit" name="submit" id="btnSubmit" value="Upload" />
        </td>
        <td><input type="file" name="imgUploader" multiple />
        <input style="margin:10px 10px 10px 10px;" type="submit" name="submit" id="btnSubmit" value="Upload" />
        </td>
      </tr>
    </tbody>
  </table>
   <button  class="btn btn-primary" type="button" align="center">Submit</button>

  </form>
</div>
</body>
</html>