<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HR_stationary</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <style>
    .entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
    </style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">My Info</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Stationary Required</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">New Entries</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">History</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="text-align:center;margin:40px 40px 40px 40px;">Energy Efficiency Services Limited</h1>

<div class="container">
<form class="form-horizontal"  id="Employee_info" method="post">
  <div class="form-group">
    <label class="control-label col-sm-4"  for="Name">Name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="Name" placeholder="Enter your name" required="">
     </div>
     </div>
      <div class="form-group">
    <label class="control-label col-sm-4"  for="Designation">Designation:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="Designation" name="Designation" placeholder="Enter your designation" required="">
     </div>
     </div>
     <div class="form-group">
    <label class="control-label col-sm-4"  for="Department">Department:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  name="Department"   placeholder="Enter your department" required="">
     </div>
     </div>
     <div class="form-group">
    <label class="control-label col-sm-4"  for="Department">Reporting Officer:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  name="ReportingOfficer"   placeholder="Enter your Reporting Officer" required="">
     </div>
     </div>
     <div class="form-group">
    <label class="control-label col-sm-4"  for="Email Id">Email Id:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  name="Email Id"  placeholder="Enter your Email Id" required="">
     </div>
     </div>
     <div class="form-group">
    <label class="control-label col-sm-4"  for="Mobile No">Mobile No.:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control"  name="Mobile No"  placeholder="Enter your number" required="">
     </div>
     </div>
     </form>
     </div>
      </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
     <section id="about" class="about-section">
        <div class="container">
            <div class="row control-group" id="fields">
            <div class= "controls">
                <div class="col-sm-12">
                    <h1>Stationary Required</h1>
  <form class="form-horizontal" role="form" autocomplete="off" method="post">
    <h4 style="margin:40px 40px 40px 40px;text-align:center;" ><b>Please issue the following stationary items for official use:</b></h4>
     <div class="col-lg-12" >
     <table  class="table" id ="reimbursement_declare">
    <thead>
      <tr>
        <th class="col-sm-4">S.no.</th>
        <th class="col-sm-4">Item</th>
        <th class="col-sm-4">Quantity_Required</th>
      </tr>  
    </thead>
    </table>
    </div>
    <div class="row">
                   
                    <div class="voca">
                    <div class="col-sm-1">
                        <input class="form-control" placeholder="No." type="number">
                    </div>
                    <div class="col-sm-7">
                        <input class="form-control" placeholder="Enter Item" name="vocatrans" type="text">
                    </div>
                    <div class="col-md-1">
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success btn-add" >
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add more
                    </button>
                    </div>
                    </div>
                    <button  class="btn btn-primary btn-xl center-block" type="button" align="center" style="margin-top:20px">Submit</button>
     </form>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
      //$(function()
function dynamicInput(){
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.voca:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.btn-add:not(:last)')
            .removeClass('btn-default').addClass('btn-danger')
            .removeClass('btn-add').addClass('btn-remove')
            
            .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove   ');
    }).on('click', '.btn-remove', function(e)
    {
    $(this).parents('.voca:first').remove();

    e.preventDefault();
    return false;
  });
}

</script>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <h1>New Entries</h1>
                    <form id="New_Entry"></form>
                <div class="col-lg-12" >
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="col-sm-2">#</th>
                          <th class="col-sm-2">Name</th>
                          <th class="col-sm-2">Designation</th>
                          <th class="col-sm-2">Item</th>
                          <th class="col-sm-2">Quantity Required</th>
                          <th class="col-sm-2">Action</th>
                        </tr>
                      </thead>
                    </table>
                    </div>
                  <div class="col-lg-12" style="overflow-y: scroll; height:300px;">
                    
                    <table class="table table-hover" id ="testtable" >
                      
                      <tbody id="all_reimbursements">
                      </tbody>
                    </table>
                  </div>
                    


                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>History</h1>
                    <div class="col-lg-12" >
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="col-sm-2">#</th>
                          <th class="col-sm-2">Name</th>
                          <th class="col-sm-2">Designation</th>
                          <th class="col-sm-2">Item</th>
                          <th class="col-sm-2">Quantity Required</th>
                          <th class="col-sm-2">Status</th>
                        </tr>
                      </thead>
                    </table>
                    </div>
                  <div class="col-lg-12" style="overflow-y: scroll; height:300px;">
                    
                    <table class="table table-hover" id ="testtable" >
                      
                      <tbody id="all_reimbursements">
                      </tbody>
                    </table>
                  </div>
                    
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
            window.onload = function(){
              dynamicInput(); 
              Stationary_required_form(); 

  //updateTable();
  getEmployeeById('10000167');
 
//test();
};
             //$(document).on('click','.btn-primary',function(){
              //alert("asdas");

     //$('#new_entry').click(function(){
    //alert($('#Item').val());
     //$('#Stationary_required').submit();  
     //});
           // });
          

     //$('#host-origin').val(location.origin);
</script>
<script type="text/javascript">
 function getEmployeeById(id){
            $.getJSON( 'http://'+location.hostname + ':3000/custom/user/' + id,{
              format: "json"
            } ,
            function( data ) {
              $('#Name').val(data[0].fullname);
              $('#Designation').val(data[0].Designation);
              $('#Department').val(data[0].Department);
              $('#Reporting_Officer').val(data[0].Reporting_officer);
              $('#Email_Id').val(data[0].email_id);
              $('#Mobile_No').val(data[0].Mobile_No);
      //alert(data[0].emp_no);

    });

   </script>
          
    


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
