<form method="post" class="form-horizontal" id ="new_reimburse">
                      <fieldset>



<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Process_Type">Process_Type</label>
  <div class="col-md-4">
    <select id="Process_Type" type="text" name="Process_Type" class="form-control" required>
      <option value="">Select</option>
      <!-- <option value="1">Regular</option>
      <option value="">Normal</option>
      <option value="Travel">Travel</option> -->
      <option value="">Non-Travel</option>
      <option value="Travel-">Travel</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Emp_Type">Emp_Type</label>
  <div class="col-md-4">
    <select id="Emp_Type" type="number" name="Emp_Type" class="form-control" required>
      <option value="">Select</option>
      <!-- <option value="1">Regular</option>
      <option value="2">FT</option>
      <option value="3">UPL</option> -->
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="Emp_Grade">Emp_Grade</label>
  <div class="col-md-4">
    <select id="Emp_Grade" type="text" name="Emp_Grade" class="form-control" required>
      <option value="">Select</option>
      <option value="E1">E1</option><option value="E2">E2</option><option value="E3">E3</option><option value="E4">E4</option><option value="E5">E5</option><option value="E6">E6</option><option value="E7">E7</option><option value="E8">E8</option><option value="E9">E9</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Reimbursement_description">Reimbursement Description</label>  
  <div class="col-md-4">
    <input id="Reimbursement_description" name="Reimbursement_description" type="text" placeholder="Type" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="gl_account_number">GL Account Number</label>  
  <div class="col-md-4">
    <input id="gl_account_number" name="gl_account_number" type="text" placeholder="Type" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->


<div class="form-group">
  <label class="col-md-4 control-label" for="amount">Amount</label>  
  <div class="col-md-4">
    <input id="amount" name="amount" type="number" placeholder="Enter number(For Travel CLaim, type any number)" class="form-control input-md" min="0" required="" >
    
  </div>


</script>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="frequency">Frequency</label>  
  <div class="col-md-4">
    <input id="frequency" name="frequency" type="number" placeholder="Enter number(For Travel CLaim, type any number)" class="form-control input-md" min="0" required="">
    
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="new_submit" name="new_submit" class="btn btn-success" aria-hidden="true">Submit</button>
  </div>
</div>

</fieldset>
</form>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>