<!DOCTYPE html>
<html lang="en">


<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reimbursement Admin</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style> td{padding:8px;}.btnSelect{background-color:#f44336;border:2px solid #f44336;border-radius:4px;color:white;cursor:pointer;}.btnSelect:hover{background-color:#c93326;border:2px solid #c93326;}</style>
      </head>
      

      <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Reimbursement Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="#about">All Reimbursements</a>
                </li>
                <li>
                  <a class="page-scroll" href="#services">Update Reimbursement</a>
                </li>
                <li>
                  <a class="page-scroll" href="#contact">New Reimbursement</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>

        <!-- Intro Section -->
        <section id="intro" class="intro-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                    <!--<h1>Scrolling Nav</h1>
                    <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>-->
                  </div>
                </div>
              </div>
            </section>

            <!-- About Section -->
            <section id="about" class="about-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>All Reimbursements</h1>
                    <table class="table table-striped" id ="testtable">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Employee Type</th>
                          <th>Reimbursement Type</th>
                          <th>Amount</th>
                          <th>Frequency</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="all_reimbursements">
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Mark</td>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td ><a class="page-scroll btnSelect"  href="#myModal">Update</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </section>

            <!-- Services Section -->
            <section id="services" class="services-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>Update Reimbursement</h1>
                  </div>
                </div>
              </div>
            </section>
            <div>
            <% include update_reimbursement.ejs %>
            </div>
            <!-- Contact Section -->
            <section id="contact" class="contact-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <h1>New Reimbursement</h1>
                    <form action="http://localhost:3000/Employees/" method="post" class="form-horizontal" id ="new_reimburse">
                      <fieldset>


                        <!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="Enter your email id" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter a password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="contact">Contact no.</label>  
  <div class="col-md-4">
  <input id="contact" name="contact" type="text" placeholder="Enter your contact no." class="form-control input-md" required="">
    
  </div>
</div>-->

<!-- Select Basic -->

<div class="form-group">
<input type="hidden" name="reimbursement_type_id" />
  <label class="col-md-4 control-label" for="Emp_Type">Emp_Type</label>
  <div class="col-md-4">
    <select id="Emp_Type" type="number" name="Emp_Type" class="form-control">
      <option value="-1">Select</option>
      <!-- <option value="1">Regular</option>
      <option value="2">FT</option>
      <option value="3">UPL</option> -->
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Reimbursement_description">Reimbursement Description</label>  
  <div class="col-md-4">
    <input id="Reimbursement_description" name="Reimbursement_description" type="text" placeholder="Type" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->


<div class="form-group">
  <label class="col-md-4 control-label" for="amount">Amount</label>  
  <div class="col-md-4">
    <input id="amount" name="amount" type="number" placeholder="Enter amount" class="form-control input-md" required="" >
    
  </div>


</script>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="frequency">Frequency</label>  
  <div class="col-md-4">
    <input id="frequency" name="frequency" type="number" placeholder="Enter frequency" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="dist">District</label>  
  <div class="col-md-4">
  <input id="dist" name="dist" type="text" placeholder="Enter your district" class="form-control input-md" required="">
    
  </div>
</div>-->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>



</div>
</div>
</div>
</section>
<script type="text/javascript">

  window.onload = function() {

    $.getJSON( "http://localhost:3000/Employees/",{
      format: "json"
    } ,
    function( data ) {
      localStorage.setItem("empType", data);
      //alert(data);
      //$.parseJSON(alert(data));
      //var parsedData = $.parseJSON(data);
      $.each(data, function(key,value) {
        //var d1 = $.parseJSON(d);
        //alert(value.description);
        //$('#Emp_Type').append("<option value="+value.id+">"+value.description"</option>");
        $('#Emp_Type').append($("<option />").val(value.id).text(value.description));
        localStorage.setItem(value.description,value.id);
        //localStorage.setItem(value.description, value.id);
        /*<option value="-1">Select</option>*/
      });
    });

    $.getJSON( "http://localhost:3000/Reimbursements/",{
      format: "json"
    } ,
    function( data ) {
      var empType = localStorage.getItem("empType");
      //var empTypeMap = new Map();
      // /myMap.set("0","asdsa");
       /*$.each(empType, function(value) {
        //empTypeMap.set(value.id,value.description);
      });*/
      //alert(empTypeMap);
      //empTypeMap = new object();
      /*alert(empTypeMap);
      $.each(empType, function(key,value) {
        empTypeMap[value.id] = value.description;
      });*/
      //salert(empTypeMap);
      $.each(data, function(key,value) {
        /*var table_row = $('<tr><th scope="row">'+value.id+'</th><td>'+(value.emp_type_id)+
        '</td><td>'+value.description+'</td><td>'+value.amount+'</td><td>'+value.frequency+
        '</td><td>@fat</td></tr>');*/
        //alert(table_row);
        //alert(searchEmpTyeById(value.emp_type_id));
        /*var test ='<tr><th scope="row">1</th><td>Test</td><td>Test</td><td>Test</td><td>Otto</td><td ><a class="page-scroll btnSelect"  href="#contact">Update</a></td></tr>';
        $('#all_reimbursements').append(test);*/
        $('#all_reimbursements').append('<tr><th scope="row">'+value.id+'</th><td>'+value.emp_type+
        '</td><td>'+value.description+'</td><td>'+value.amount+'</td><td>'+value.frequency+
        '</td><td>'+'<a class="page-scroll btnSelect"  href="#myModal" data-toggle="modal">Update</a>'+'</td></tr>');
      });
    });
  };

/*var myvar;
$.ajax({
    url: 'http://localhost:3000/Employees/',
    success: function(data) {
        myvar = data;
        alert(myvar);
    }
});*/
  //alert(empTypes);
</script>
<script type="text/javascript">
  /*function getUrl(data) {
    alert(data);
};*/
//$(document).ready(function(){
  // code to read selected table row cell data (values).
  /*$(".btnSelect").on('click',function(){
     var currentRow=$(this).closest("tr");
     var col1=currentRow.find("td:eq(0)").html();
     var col2=currentRow.find("td:eq(1)").html();
     var col3=currentRow.find("td:eq(2)").html();
     var data=col1+"\n"+col2+"\n"+col3;
     alert(data);
  });*/

//});
</script>
<script type="text/javascript">
  $(document).on('click','.btnSelect',function(){
     var currentRow=$(this).closest("tr");
     var reimbursement_type_id=currentRow.find("th:eq(0)").html();
     var emp_type=currentRow.find("td:eq(0)").html();
     //alert(emp_type_id);
     var reimbursement_description=currentRow.find("td:eq(1)").html();
     var amount=currentRow.find("td:eq(2)").html();
     var frequency=currentRow.find("td:eq(3)").html();
     //alert(col1);
     $('#update_reimbursement_type_id').val(reimbursement_type_id);
     $('#update_Emp_Type').val(localStorage.getItem(emp_type));
     $('#update_Emp_Type').text(emp_type);
     $('#update_Reimbursement_description').val(reimbursement_description);
     $('#update_amount').val(amount);
     $('#update_frequency').val(frequency);
     //alert(localStorage.getItem(localStorage.getItem(2)));
     $('#update_Emp_Type').prop('disabled', true);
     //var data=col1+"\n"+col2+"\n"+col3;
    // alert(data);
  });
  /*$('#contact').click(function() {
  $('#Emp_Type').prop('disabled', false);
});*/
</script>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

</body>

</html>
