<!DOCTYPE html>
<html lang="en">


<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Recruitment Result</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

  <link href="css/table-fixedheader.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style> td{padding:8px;}.btnSelect{background-color:#f44336;border:2px solid #f44336;border-radius:4px;color:white;cursor:pointer;}.btnSelect:hover{background-color:#c93326;border:2px solid #c93326;}</style>
        <style type="text/css">
          
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

        </style>
         <style type="text/css">
            th, td {
                width: 100px;
            }
          </style>
      </head>
      <script>
    $(document).ready(function () {
      var options = {
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse  // post-submit callback
              };

            // bind to the form's submit event
            /*$('#downloadFileForm19').submit(function () {
              $(this).ajaxSubmit(options);
                // always return false to prevent standard browser submit and page navigation
                return false;
              });
          });*/

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
          alert('Uploading is starting.');
          return true;
        }

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
          alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
        }
      </script>

      <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        
            
<section id="uploadExcel" class="services-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                  <form id ="uploadExcelForm" enctype="multipart/form-data"  method="post">
                    <input type="file" name="imgUploader"  required />
                    <button id="uploadExcelButton" name="uploadExcelButton" class="btn btn-success" aria-hidden="true">Submit</button>
                  </form>
                 <!--  <a id = "generateBillTag" class="btn btn-warning" >Uplos</a> -->
                  <script type="text/javascript">
                  var link = 'http://'+location.hostname +':3000/resultUpload';
                  $('#uploadExcelForm').append('<input type="hidden" name="cookie" value="'+document.cookie.split("=").slice(-1).pop()+'" />');
                    $('#uploadExcelForm').attr('action',link);
                    $('#uploadExcelButton').click(function(){
                      $('#uploadExcelForm').submit();
                    });
                    //$('#generateBillTag').attr('target','_blank');
                  </script>
                  </div>
                </div>
              </div>
            </section>

<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

</body>

</html>




